---
import { Image, Picture } from 'astro:assets';

interface Props {
  title: string;
  body: string;
}

const { title, body } = Astro.props;

import pic from './pic.png';
---

<div class="card">
  <h1>
    {title}
  </h1>
  <p>
    {body}
  </p>
  <div class="pics">
    <Image
      src={pic}
      alt="A description of my image."
      fit="cover"
      position="top"
      width={200}
      height={200}
      priority
    />
    <Picture
      src={pic}
      alt="A description of my image."
      fit="cover"
      position="top"
      width={200}
      height={200}
      formats={['avif', 'webp']}
      priority
    />
    <Picture
      src={pic}
      alt="A description of my image."
      width={200}
      height={200}
      formats={['avif', 'webp']}
      densities={[1, 2, 3]}
      loading={'eager'}
      decoding={'sync'}
      fetchpriority={'high'}
    />
  </div>
</div>

<style>
  h1 {
    font-size: var(--step-5);
  }

  .pics {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
  }
</style>
