---
interface Props {
  meta: {
    title: string;
    description: string;
  };
  short?: boolean;
}

const { meta, short = false } = Astro.props;
---

{/* Primary Meta Tags */}
<title>{meta.title}</title>
<meta
  name="title"
  content={meta.title}
/>
<meta
  name="description"
  content={meta.description}
/>
{
  !short && (
    <>
      {/* Open Graph / Facebook */}
      <meta
        property="og:type"
        content="website"
      />
      <meta
        property="og:url"
        content={import.meta.env.SITE}
      />
      <meta
        property="og:title"
        content={meta.title}
      />
      <meta
        property="og:description"
        content={meta.description}
      />
      <meta
        property="og:image"
        content={`${import.meta.env.SITE}/social.png`}
      />
      {/* Twitter */}
      <meta
        property="twitter:card"
        content="summary_large_image"
      />
      <meta
        property="twitter:url"
        content={import.meta.env.SITE}
      />
      <meta
        property="twitter:title"
        content={meta.title}
      />
      <meta
        property="twitter:description"
        content={meta.description}
      />
      <meta
        property="twitter:image"
        content={`${import.meta.env.SITE}/social.png`}
      />
    </>
  )
}
